<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Страница товара</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Home)}" />

<div class="container">
    <br>
    <h1 style="text-align:center">Страница товара</h1>


    <div class="card" style="width: 18rem" th:object="${product}">
        <img th:if="${product.images.size() > 0}" class="card-img-top"
             th:src="@{'/images/' + ${product.images[0].path}}"/>

        <div class="card-body">
            <h5 class="card-title" th:text="*{title}"></h5>
            <p class="card-text" th:text="*{shortDescription}"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="${'Цена: ' + product.price + ' руб.'}"></li>
            <li class="list-group-item" th:text="${'Категория: ' + product.category.title}"></li>
            <li class="list-group-item" th:text="${'Полное описание: ' + product.fullDescription}"></li>
        </ul>
        <div class="card-body">
            <a th:href="@{'/shop/cart/add/' + ${product.id}}" class="btn btn-primary">Добавить в корзину</a>
        </div>
    </div>
</div>
</body>

