<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<html>
<body>

<div th:replace="~{navigation :: navi(UserEdit)}" />

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/user/update}" th:method="post" th:object="${user}">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{password}">
                <input type="hidden" th:field="*{firstName}">
                <input type="hidden" th:field="*{lastName}">
                <input type="hidden" th:field="*{email}">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" th:field="*{userName}" placeholder="Enter name">
                    <small th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name shouldn't be empty</small>
                </div>
                <div class="form-group">
                    <label for="roles">Roles</label>
                    <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                        <option th:each="role : ${roles}"
                                th:text="${role.name}"
                                th:value="${role.id}"
                                th:selected="${user.roles?.contains(role)}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>